# Loops

In [1]:
for i in ["Adidas", "Nike", "Puma"]
    print(i)
end

AdidasNikePuma

In [3]:
for i in ["Adidas", "Nike", "Puma"]
    print(i, " ")
end

Adidas Nike Puma

In [4]:
for i in ["Adidas", "Nike", "Puma"]
    println(i)
end

Adidas
Nike
Puma

In [6]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [8]:
for d in Dict(:C1 => 100, :C2 => 200)
    print(d, "  ")
end

:C2 => 200  :C1 => 100

In [9]:
for s in Set([1,2,3,4,5])
    print(s)
end

42351

In [10]:
for range in 1:5
    print(range)
end

12345

In [11]:
for range in 1:5
    @show range
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [12]:
for x in 1:10
    if x%2==0
        print(x, " ")
    end
end

2 4 6 8 10

In [ ]:
for i in 1:10
    j = i * 10
    print("")