# Range

In [2]:
collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [3]:
collect(1.5:5.5)

5-element Array{Float64,1}:
 1.5
 2.5
 3.5
 4.5
 5.5

In [4]:
collect(1.5:0.5:5.5)

9-element Array{Float64,1}:
 1.5
 2.0
 2.5
 3.0
 3.5
 4.0
 4.5
 5.0
 5.5

In [7]:
collect(1:10:100)
#collect(0:10:100)
#collect(0:20:100)

10-element Array{Int64,1}:
  1
 11
 21
 31
 41
 51
 61
 71
 81
 91

In [9]:
c1 = collect(100:-20:0)

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [10]:
c1[3]

60

In [12]:
c1[end]

0

In [14]:
c1[end - 1]

20

# Tuples

In [16]:
t1 = (1,2,3,4,5)

(1, 2, 3, 4, 5)

In [18]:
t1[6] = 6 #tuples are immutable

LoadError: MethodError: no method matching setindex!(::NTuple{5,Int64}, ::Int64, ::Int64)

In [19]:
t2 = ((1,3) , (2,5))

((1, 3), (2, 5))

In [20]:
t2[1]

(1, 3)

In [21]:
t2[1][2]

3

In [22]:
marks = (Science = (90,100), Maths = (80,100) , English = (100, 70))

(Science = (90, 100), Maths = (80, 100), English = (100, 70))

In [24]:
marks.Science

(90, 100)

In [25]:
marks.Maths

(80, 100)

In [26]:
marks2 = (History = (55,75), Sports = (75,65))

(History = (55, 75), Sports = (75, 65))

In [27]:
merge(marks,marks2)

(Science = (90, 100), Maths = (80, 100), English = (100, 70), History = (55, 75), Sports = (75, 65))

# Dictionary

In [28]:
Cars = Dict("Car 1" => 10000, "Car 2" => 20000, "Car 3" => 30000)

Dict{String,Int64} with 3 entries:
  "Car 1" => 10000
  "Car 2" => 20000
  "Car 3" => 30000

In [29]:
Cars["Car 1"]

10000

In [31]:
Cars2 = Dict(:Car1 => 10000, :Car2 =>20000, :Car3 => 30000)

Dict{Symbol,Int64} with 3 entries:
  :Car3 => 30000
  :Car1 => 10000
  :Car2 => 20000

In [32]:
Cars2[:Car1]

10000

In [34]:
haskey(Cars2, :Car1)

true

In [35]:
haskey(Cars2, :Car4)

false

In [37]:
delete!(Cars2, :Car1)

Dict{Symbol,Int64} with 2 entries:
  :Car3 => 30000
  :Car2 => 20000

In [38]:
keys(Cars)

Base.KeySet for a Dict{String,Int64} with 3 entries. Keys:
  "Car 1"
  "Car 2"
  "Car 3"

In [39]:
keys(Cars2)

Base.KeySet for a Dict{Symbol,Int64} with 2 entries. Keys:
  :Car3
  :Car2

In [41]:
values(Cars)

Base.ValueIterator for a Dict{String,Int64} with 3 entries. Values:
  10000
  20000
  30000

In [42]:
dict3 = merge(Cars, Cars2)

Dict{Any,Int64} with 5 entries:
  :Car3   => 30000
  "Car 1" => 10000
  "Car 2" => 20000
  "Car 3" => 30000
  :Car2   => 20000