# Loops

In [1]:
for i in ["Adidas", "Nike", "Puma"]
    print(i)
end

AdidasNikePuma

In [3]:
for i in ["Adidas", "Nike", "Puma"]
    print(i, " ")
end

Adidas Nike Puma

In [4]:
for i in ["Adidas", "Nike", "Puma"]
    println(i)
end

Adidas
Nike
Puma

In [6]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [8]:
for d in Dict(:C1 => 100, :C2 => 200)
    print(d, "  ")
end

:C2 => 200  :C1 => 100

In [9]:
for s in Set([1,2,3,4,5])
    print(s)
end

42351

In [10]:
for range in 1:5
    print(range)
end

12345

In [11]:
for range in 1:5
    @show range
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [12]:
for x in 1:10
    if x%2==0
        print(x, " ")
    end
end

2 4 6 8 10

In [14]:
for i in 1:10
    j = i * 10
    println("$(j) is multiplication of $(i) and 10 ")
end

10 is multiplication of 1 and 10
20 is multiplication of 2 and 10
30 is multiplication of 3 and 10
40 is multiplication of 4 and 10
50 is multiplication of 5 and 10
60 is multiplication of 6 and 10
70 is multiplication of 7 and 10
80 is multiplication of 8 and 10
90 is multiplication of 9 and 10
100 is multiplication of 10 and 10

In [20]:
a = 1
while a < 10
    println(a)
    a += 1 
end

1
2
3
4
5
6
7
8
9

# Smart Loops

In [21]:
x = [i for i in 1:10]

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [22]:
x = [i^2 for i in 1:10]

10-element Array{Int64,1}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [23]:
s = Set([i for i in 1:10])

Set{Int64} with 10 elements:
  7
  4
  9
  10
  2
  3
  5
  8
  6
  1

In [29]:
alphabets = Dict(string(Char(x1 + 64)) => x1 for x1 in 1:26)

Dict{String,Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [30]:
[(x,y) for x in 1:3, y in 3:6]

3Ã—4 Array{Tuple{Int64,Int64},2}:
 (1, 3)  (1, 4)  (1, 5)  (1, 6)
 (2, 3)  (2, 4)  (2, 5)  (2, 6)
 (3, 3)  (3, 4)  (3, 5)  (3, 6)

In [32]:
[x for x in 1:10 if x%2 ==0]

5-element Array{Int64,1}:
  2
  4
  6
  8
 10