In [31]:
using Pkg

In [32]:
Pkg.add("SQLite")

  Resolving package versions...
No Changes to `~/.julia/environments/v1.5/Project.toml`
No Changes to `~/.julia/environments/v1.5/Manifest.toml`

In [33]:
using SQLite

In [34]:
db = SQLite.DB("movies")

SQLite.DB("movies")

In [35]:
SQLite.execute(db, "CREATE TABLE IF NOT EXISTS movies(movie_id REAL, movie_name TEXT,location TEXT)")

101

In [36]:
SQLite.tables(db)

(name = ["movies"],)

In [37]:
SQLite.execute(db, "INSERT INTO movies (movie_id,movie_name,location) VALUES(1,'Avengers','USA')")

101

In [47]:
using DataFrames
SQLite.execute(db,"select * from movies")

100

In [49]:
SQLite.columns(db,"movies")

(cid = [0, 1, 2], name = ["movie_id", "movie_name", "location"], type = ["REAL", "TEXT", "TEXT"], notnull = [0, 0, 0], dflt_value = [missing, missing, missing], pk = [0, 0, 0])